<!--Footer Start-->

    <footer>
      <div class="row-one">
        <p>Bedford-Stuyvesant, Brooklyn, New York, United States</p>
        <br />
        <p>iDestiny@apple.com(+91) 320 3052279 Skype iDestiny.apple</p>
      </div>
      <div class="row-two">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-youtube"></i>
      </div>
      <div class="row-three">
        <span>&#169;</span> ALL RIGHTS RESERVED | iDestiny | Manish Das
      </div>
      <h1 class="footer-text-bg">iDestiny</h1>
    </footer>

    <script src="https://kit.fontawesome.com/0ceac43f46.js" crossorigin="anonymous" ></script>

<!--Footer End-->