<!--Header Start-->
    <header class="heading-bars">
      <a class="logo" href="/"
        ><img src="./images/iDestiny-Logo-White.png" alt="logo"
      /></a>
      <nav>
        <ul class="nav__links">
          <li><a href="/">Home</a></li>
          <li><a href="/delivery">Delivery</a></li>
          <li><a href="/bill">Bill</a></li>
          <li><a href="/return">Return</a></li>
        </ul>
      </nav>
      <a class="cta" href="/sale">Sale</a>
    </header>
<!--Header End-->



