<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet" />
    <link rel="shortcut icon" type="image/x-icon" href="./images/favicon.ico" />
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/return.css">
    <link rel="stylesheet" href="./css/footer.css">
    <title>{{title}}</title>
  </head>
  <body>

     {{>header}}

     <div class="return-container">
      <h2>Returns</h2>
      <div class="return-option-header">
        <p>Select Item(s) for return</p>
        <p>Order Information</p>
        <p>Reason For Return</p>
      </div>

      <br />
      <div class="return-item">
        <div class="return-item-one">
          <input type="checkbox" />
          <img src="./images/macbookair.png" alt="" class="return-item-pic" />
          <p><b>Mackbook air m1 256gb</b></p>
        </div>
        <div class="return-item-two"><p>Order#678238283</p></div>
        <div class="return-item-three"><input type="text" required /></div>
      </div>
    </div>
    <hr />
    <div class="return">Return</div>

     {{>footer}}

  </body>
</html>
