<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="data:,">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet" />
    <link rel="shortcut icon" type="image/x-icon" href="./images/favicon.ico" />
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/sale.css">
    <link rel="stylesheet" href="./css/footer.css">
    <title>{{title}}</title>
  </head>
 <body>

   {{>header}}

    <nav class="nav-container">
      <a href="#iPhone"><img src="./images/heading-text-1.png" alt="" /></a>
      <a href="#iPad"><img src="./images/heading-text-2.png" alt="" /></a>
      <a href="#Mac"><img src="./images/heading-text-3.png" alt="" /></a>
      <a href="#Watch"><img src="./images/heading-text-4.png" alt="" /></a>
      <a href="#tv"><img src="./images/heading-text-5.png" alt="" /></a>
    </nav>

    {{>mac}}

    {{>iphone}}

    {{>ipad}}

    {{>tv}}

    {{>watch}}

    {{>footer}}

  </body>
</html>