<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{location}}</title>
    <link rel="icon" href="data:,">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/sale.css">
    <link rel="stylesheet" href="./css/footer.css">
  </head>
 <body>

   {{>header}}

    <nav class="nav-container">
      <a href="#iPhone"><img src="./images/heading-text-1.png" alt="" /></a>
      <a href="#iPad"><img src="./images/heading-text-2.png" alt="" /></a>
      <a href="#Mac"><img src="./images/heading-text-3.png" alt="" /></a>
      <a href="#Watch"><img src="./images/heading-text-4.png" alt="" /></a>
      <a href="#tv"><img src="./images/heading-text-5.png" alt="" /></a>
    </nav>
    <main id="iPhone">
      <img src="./images/heading-text-1.png" class="heading-text" />
      <header class="sale-items">
        <div class="col">Model</div>
        <div class="col">MRP</div>
        <div class="col">Discount</div>
        <div class="col">Offer Price</div>
      </header>

      <div class="row">
        <div class="col"><b>iPhone 12 mini</b> 64GB</div>
        <div class="col">₹69,900</div>
        <div class="col">₹1,500*</div>
        <div class="col">₹68,400</div>
      </div>

      <div class="row">
        <div class="col"><b>iPhone 12 mini</b> 128GB</div>
        <div class="col">₹74,900</div>
        <div class="col">₹1,500*</div>
        <div class="col">₹68,400</div>
      </div>

      <div class="row">
        <div class="col"><b>iPhone 12 mini</b> 64GB</div>
        <div class="col">₹69,900</div>
        <div class="col">₹1,500*</div>
        <div class="col">₹68,400</div>
      </div>

      <div class="row">
        <div class="col"><b>iPhone 12 mini</b> 64GB</div>
        <div class="col">₹69,900</div>
        <div class="col">₹1,500*</div>
        <div class="col">₹68,400</div>
      </div>

      <div class="row">
        <div class="col"><b>iPhone 12 mini</b> 64GB</div>
        <div class="col">₹69,900</div>
        <div class="col">₹1,500*</div>
        <div class="col">₹68,400</div>
      </div>

      <div class="row">
        <div class="col"><b>iPhone 12 mini</b> 64GB</div>
        <div class="col">₹69,900</div>
        <div class="col">₹1,500*</div>
        <div class="col">₹68,400</div>
      </div>

      <div class="row">
        <div class="col"><b>iPhone 12 mini</b> 64GB</div>
        <div class="col">₹69,900</div>
        <div class="col">₹1,500*</div>
        <div class="col">₹68,400</div>
      </div>

      <div class="row">
        <div class="col"><b>iPhone 12 mini</b> 64GB</div>
        <div class="col">₹69,900</div>
        <div class="col">₹1,500*</div>
        <div class="col">₹68,400</div>
      </div>

      <div class="row">
        <div class="col"><b>iPhone 12 mini</b> 64GB</div>
        <div class="col">₹69,900</div>
        <div class="col">₹1,500*</div>
        <div class="col">₹68,400</div>
      </div>
    </main>

    <main id="iPad">
      <img src="./images/heading-text-2.png" class="heading-text" />
      <header class="sale-items">
        <div class="col">Model</div>
        <div class="col">MRP</div>
        <div class="col">Discount</div>
        <div class="col">Offer Price</div>
      </header>

      <div class="row">
        <div class="col"><b>iPhone 12 mini</b> 64GB</div>
        <div class="col">₹69,900</div>
        <div class="col">₹1,500*</div>
        <div class="col">₹68,400</div>
      </div>

      <div class="row">
        <div class="col"><b>iPhone 12 mini</b> 64GB</div>
        <div class="col">₹69,900</div>
        <div class="col">₹1,500*</div>
        <div class="col">₹68,400</div>
      </div>

      <div class="row">
        <div class="col"><b>iPhone 12 mini</b> 64GB</div>
        <div class="col">₹69,900</div>
        <div class="col">₹1,500*</div>
        <div class="col">₹68,400</div>
      </div>

      <div class="row">
        <div class="col"><b>iPhone 12 mini</b> 64GB</div>
        <div class="col">₹69,900</div>
        <div class="col">₹1,500*</div>
        <div class="col">₹68,400</div>
      </div>

      <div class="row">
        <div class="col"><b>iPhone 12 mini</b> 64GB</div>
        <div class="col">₹69,900</div>
        <div class="col">₹1,500*</div>
        <div class="col">₹68,400</div>
      </div>

      <div class="row">
        <div class="col"><b>iPhone 12 mini</b> 64GB</div>
        <div class="col">₹69,900</div>
        <div class="col">₹1,500*</div>
        <div class="col">₹68,400</div>
      </div>

      <div class="row">
        <div class="col"><b>iPhone 12 mini</b> 64GB</div>
        <div class="col">₹69,900</div>
        <div class="col">₹1,500*</div>
        <div class="col">₹68,400</div>
      </div>

      <div class="row">
        <div class="col"><b>iPhone 12 mini</b> 64GB</div>
        <div class="col">₹69,900</div>
        <div class="col">₹1,500*</div>
        <div class="col">₹68,400</div>
      </div>

      <div class="row">
        <div class="col"><b>iPhone 12 mini</b> 64GB</div>
        <div class="col">₹69,900</div>
        <div class="col">₹1,500*</div>
        <div class="col">₹68,400</div>
      </div>
    </main>

    <main id="Mac">
      <img src="./images/heading-text-3.png" class="heading-text" />
      <header class="sale-items">
        <div class="col">Model</div>
        <div class="col">MRP</div>
        <div class="col">Discount</div>
        <div class="col">Offer Price</div>
      </header>

      <div class="row">
        <div class="col"><b>iPhone 12 mini</b> 64GB</div>
        <div class="col">₹69,900</div>
        <div class="col">₹1,500*</div>
        <div class="col">₹68,400</div>
      </div>

      <div class="row">
        <div class="col"><b>iPhone 12 mini</b> 64GB</div>
        <div class="col">₹69,900</div>
        <div class="col">₹1,500*</div>
        <div class="col">₹68,400</div>
      </div>

      <div class="row">
        <div class="col"><b>iPhone 12 mini</b> 64GB</div>
        <div class="col">₹69,900</div>
        <div class="col">₹1,500*</div>
        <div class="col">₹68,400</div>
      </div>

      <div class="row">
        <div class="col"><b>iPhone 12 mini</b> 64GB</div>
        <div class="col">₹69,900</div>
        <div class="col">₹1,500*</div>
        <div class="col">₹68,400</div>
      </div>

      <div class="row">
        <div class="col"><b>iPhone 12 mini</b> 64GB</div>
        <div class="col">₹69,900</div>
        <div class="col">₹1,500*</div>
        <div class="col">₹68,400</div>
      </div>

      <div class="row">
        <div class="col"><b>iPhone 12 mini</b> 64GB</div>
        <div class="col">₹69,900</div>
        <div class="col">₹1,500*</div>
        <div class="col">₹68,400</div>
      </div>

      <div class="row">
        <div class="col"><b>iPhone 12 mini</b> 64GB</div>
        <div class="col">₹69,900</div>
        <div class="col">₹1,500*</div>
        <div class="col">₹68,400</div>
      </div>

      <div class="row">
        <div class="col"><b>iPhone 12 mini</b> 64GB</div>
        <div class="col">₹69,900</div>
        <div class="col">₹1,500*</div>
        <div class="col">₹68,400</div>
      </div>

      <div class="row">
        <div class="col"><b>iPhone 12 mini</b> 64GB</div>
        <div class="col">₹69,900</div>
        <div class="col">₹1,500*</div>
        <div class="col">₹68,400</div>
      </div>
    </main>

    <main id="Watch">
      <img src="./images/heading-text-4.png" class="heading-text" />
      <header class="sale-items">
        <div class="col">Model</div>
        <div class="col">MRP</div>
        <div class="col">Discount</div>
        <div class="col">Offer Price</div>
      </header>

      <div class="row">
        <div class="col"><b>iPhone 12 mini</b> 64GB</div>
        <div class="col">₹69,900</div>
        <div class="col">₹1,500*</div>
        <div class="col">₹68,400</div>
      </div>

      <div class="row">
        <div class="col"><b>iPhone 12 mini</b> 64GB</div>
        <div class="col">₹69,900</div>
        <div class="col">₹1,500*</div>
        <div class="col">₹68,400</div>
      </div>

      <div class="row">
        <div class="col"><b>iPhone 12 mini</b> 64GB</div>
        <div class="col">₹69,900</div>
        <div class="col">₹1,500*</div>
        <div class="col">₹68,400</div>
      </div>

      <div class="row">
        <div class="col"><b>iPhone 12 mini</b> 64GB</div>
        <div class="col">₹69,900</div>
        <div class="col">₹1,500*</div>
        <div class="col">₹68,400</div>
      </div>

      <div class="row">
        <div class="col"><b>iPhone 12 mini</b> 64GB</div>
        <div class="col">₹69,900</div>
        <div class="col">₹1,500*</div>
        <div class="col">₹68,400</div>
      </div>

      <div class="row">
        <div class="col"><b>iPhone 12 mini</b> 64GB</div>
        <div class="col">₹69,900</div>
        <div class="col">₹1,500*</div>
        <div class="col">₹68,400</div>
      </div>

      <div class="row">
        <div class="col"><b>iPhone 12 mini</b> 64GB</div>
        <div class="col">₹69,900</div>
        <div class="col">₹1,500*</div>
        <div class="col">₹68,400</div>
      </div>

      <div class="row">
        <div class="col"><b>iPhone 12 mini</b> 64GB</div>
        <div class="col">₹69,900</div>
        <div class="col">₹1,500*</div>
        <div class="col">₹68,400</div>
      </div>

      <div class="row">
        <div class="col"><b>iPhone 12 mini</b> 64GB</div>
        <div class="col">₹69,900</div>
        <div class="col">₹1,500*</div>
        <div class="col">₹68,400</div>
      </div>
    </main>

    <main id="tv">
      <img src="./images/heading-text-5.png" class="heading-text" />
      <header class="sale-items">
        <div class="col">Model</div>
        <div class="col">MRP</div>
        <div class="col">Discount</div>
        <div class="col">Offer Price</div>
      </header>

      <div class="row">
        <div class="col"><b>iPhone 12 mini</b> 64GB</div>
        <div class="col">₹69,900</div>
        <div class="col">₹1,500*</div>
        <div class="col">₹68,400</div>
      </div>

      <div class="row">
        <div class="col"><b>iPhone 12 mini</b> 64GB</div>
        <div class="col">₹69,900</div>
        <div class="col">₹1,500*</div>
        <div class="col">₹68,400</div>
      </div>

      <div class="row">
        <div class="col"><b>iPhone 12 mini</b> 64GB</div>
        <div class="col">₹69,900</div>
        <div class="col">₹1,500*</div>
        <div class="col">₹68,400</div>
      </div>

      <div class="row">
        <div class="col"><b>iPhone 12 mini</b> 64GB</div>
        <div class="col">₹69,900</div>
        <div class="col">₹1,500*</div>
        <div class="col">₹68,400</div>
      </div>

      <div class="row">
        <div class="col"><b>iPhone 12 mini</b> 64GB</div>
        <div class="col">₹69,900</div>
        <div class="col">₹1,500*</div>
        <div class="col">₹68,400</div>
      </div>

      <div class="row">
        <div class="col"><b>iPhone 12 mini</b> 64GB</div>
        <div class="col">₹69,900</div>
        <div class="col">₹1,500*</div>
        <div class="col">₹68,400</div>
      </div>

      <div class="row">
        <div class="col"><b>iPhone 12 mini</b> 64GB</div>
        <div class="col">₹69,900</div>
        <div class="col">₹1,500*</div>
        <div class="col">₹68,400</div>
      </div>

      <div class="row">
        <div class="col"><b>iPhone 12 mini</b> 64GB</div>
        <div class="col">₹69,900</div>
        <div class="col">₹1,500*</div>
        <div class="col">₹68,400</div>
      </div>

      <div class="row last">
        <div class="col"><b>iPhone 12 mini</b> 64GB</div>
        <div class="col">₹69,900</div>
        <div class="col">₹1,500*</div>
        <div class="col">₹68,400</div>
      </div>
    </main>

    {{>footer}}

  </body>
</html>